.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
}

.form__field {
    border: 2px solid #ccc;
    padding: 10px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        padding: 5px;
    }
}